:root {
  --background: #ffffff;
  --main-text: #121212;
  --title-text: #000000;
  --almost-blue: #939ba8;
  --accent-color: #e74c3c;
  --gray: #1e1e1e;
  --input-bg: #373a3e;
  --bg-gray: #2e2f4280;
  --animate: 250ms cubic-bezier(0.55, 0.06, 0.78, 0.37);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --main-text: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--main-text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#work .swiper-button-prev,
#work .swiper-button-next {
  display: none;
}

#work .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}
@media only screen and (min-width: 768px) {
  #work .swiper-button-prev,
  #work .swiper-button-next {
    color: var(--bg-gray);
    display: flex;
  }
}

#reviews .swiper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.hidden {
  display: none;
}
